src/main/mule/netsuite-invoice-to-sfdc-invoice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="search-and-retrieve-Invoice-by-internalId" doc:id="dd606c7d-f3e5-486f-bc4b-5acc54720820" >
		<http:listener doc:name="/get?id=" doc:id="bc8516b5-c5e6-4dc8-9890-6018c2822b2c" config-ref="HTTP_Listener_config" path="/get"/>
		<ee:transform doc:name="Transform Message" doc:id="020e5bf9-b777-4ec8-b963-e9cbda3239fb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:messages.platform.webservices.netsuite.com
ns ns01 urn:common.platform.webservices.netsuite.com
ns ns02 urn:core.platform.webservices.netsuite.com
---
{
	ns0#search: {
		ns0#searchRecord @("xmlns:ns01": ns01, xsi#"type": "ns01:TransactionSearchBasic"): {
			ns01#internalId @(operator: "anyOf"): {
				ns02#searchValue @(internalId: attributes.queryParams.id): null
			},
			ns01#"type" @(operator: "anyOf"): {
				ns02#searchValue: "_invoice"
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<netsuite:search doc:name="Search" doc:id="35dcad46-bdb7-41eb-a2bb-d89c53bb0a47" config-ref="NetSuite_Config_Token" key="TransactionSearchBasic"/>
		<ee:transform doc:name="Transform Message" doc:id="4ac7b169-b935-4a6a-9860-f697d19b913b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json writeAttributes=true
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="netsuite-invoice-to-sfdc-invoiceFlow" doc:id="d1a28d6e-3a8e-46ac-8aca-fb1dab99720d" >
		<http:listener doc:name="/status?id=" doc:id="2e3ba13a-6877-4c82-9dd2-c8f3accc40b6" config-ref="HTTP_Listener_config" path="/status"/>
		<ee:transform doc:name="Transform Message" doc:id="5ce045bf-e874-46a8-88d6-47570d8a635c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:messages.platform.webservices.netsuite.com
ns ns01 urn:common.platform.webservices.netsuite.com
ns ns02 urn:core.platform.webservices.netsuite.com
ns ns03 urn:core.platform.webservices.netsuite.com
---
{
	ns0#search: {
		ns0#searchRecord @("xmlns:ns01": ns01, xsi#"type": "ns01:TransactionSearchBasic"): {
			ns01#lastModifiedDate @(operator: "within"): {
				ns02#searchValue: "2025-01-02T00:16:17.750Z",
				ns02#searchValue2: now() as String {format: "yyyy-MM-dd'T'hh:mm:ss"}
			},
			ns01#memorized: {
				ns02#searchValue: false
			},
			ns01#status @(operator: "anyOf"): {
			//	ns02#searchValue: "_invoiceOpen"
				ns02#searchValue: "_invoicePaidInFull"
			},
			ns01#"type" @(operator: "anyOf"): {
				ns02#searchValue: "_invoice"
			}//,
			//ns01#customFieldList: {
			//	ns02#customField @("xmlns:ns03": ns03, xsi#"type": "ns03:SearchStringCustomField", internalId: "529", operator: "contains"): {
			//		ns03#searchValue: "a1zKj0000062bGHIAY"
			//	}
			//}
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<netsuite:search doc:name="Search" doc:id="f440bd09-cabd-4c90-97c1-c52c3616361d" config-ref="NetSuite_Config_Token" key="TransactionSearchBasic"/>
		<logger level="INFO" doc:name="Logger" doc:id="3392f71a-1cfa-4b4f-a5cd-bc249ce7d9cb" />
		<ee:transform doc:name="Transform Message" doc:id="d19947a9-ee78-4d02-bd65-d80a9efe6483" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json writeAttributes=true
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="netsuite-invoice-to-sfdc-invoiceFlow1" doc:id="0c50c52d-2ee1-4eb3-924e-419b09022896" >
		<http:listener doc:name="/check" doc:id="c801923b-5a64-4094-9269-bcd9e9afc660" config-ref="HTTP_Listener_config" path="/check"/>
		<os:retrieve doc:name="Watermark" doc:id="fd11e350-f2c4-4a34-87d3-fefb64b68493" key="lastRun" target="lastRun">
			<os:default-value ><![CDATA[#[now() as String {format: "yyyy-MM-dd'T'hh:mm:ss"}]]]></os:default-value>
		</os:retrieve>
		<ee:transform doc:name="Transform Message" doc:id="150ae8b2-0f5c-45fc-8524-f1e709511c05" >
		<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:messages.platform.webservices.netsuite.com
ns ns01 urn:common.platform.webservices.netsuite.com
ns ns02 urn:core.platform.webservices.netsuite.com
ns ns03 urn:core.platform.webservices.netsuite.com
---
{
	ns0#search: {
		ns0#searchRecord @("xmlns:ns01": ns01, xsi#"type": "ns01:TransactionSearchBasic"): {
			ns01#lastModifiedDate @(operator: "within"): {
				ns02#searchValue: "2025-01-02T10:17:48", //vars.lastRun,
				ns02#searchValue2: now() as String {format: "yyyy-MM-dd'T'hh:mm:ss"}
			},
			ns01#memorized: {
				ns02#searchValue: false
			},
			ns01#status @(operator: "anyOf"): {
			//	ns02#searchValue: "_invoiceOpen"
				ns02#searchValue: "_invoicePaidInFull"
			},
			ns01#"type" @(operator: "anyOf"): {
				ns02#searchValue: "_invoice"
			}//,
			//ns01#customFieldList: {
			//	ns02#customField @("xmlns:ns03": ns03, xsi#"type": "ns03:SearchStringCustomField", internalId: "529", operator: "contains"): {
			//		ns03#searchValue: "a1zKj0000062bGHIAY"
			//	}
			//}
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<netsuite:search doc:name="Search" doc:id="4b550497-5c8e-42cb-ba13-370ed56747ae" config-ref="NetSuite_Config_Token" key="TransactionSearchBasic"/>
		<choice doc:name="Choice" doc:id="136d1beb-8bdf-46f7-8a63-c9dfa5fe3f62" >
			<when expression="#[payload.payload.record.customFieldList.StringCustomFieldRef__custbodysalesforce_id.value != null]">
				<ee:transform doc:name="Transform Message" doc:id="ce5706f3-01bc-4e10-a663-e03d74e9b426">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Id: payload.payload.record.customFieldList.StringCustomFieldRef__custbodysalesforce_id.value,
	blng__Notes__c: "Paid"
}]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<salesforce:update doc:name="Update" doc:id="50e7c432-8083-4a9a-adc9-76cfbf4bd1b2" config-ref="Salesforce_Config" type="blng__Invoice__c" />
				<logger level="INFO" doc:name="Logger" doc:id="b1a72823-52e8-4df8-8cd8-0c7d693d9c39" />
			</when>
		</choice>
		<os:store doc:name="Store" doc:id="6d12c00e-8778-4f88-9ae2-3fd5fc6d2421" key="lastRun">
			<os:value ><![CDATA[#[now() as String {format: "yyyy-MM-dd'T'hh:mm:ss"}]]]></os:value>
		</os:store>
		<ee:transform doc:name="Transform Message" doc:id="0c58fa71-d260-4096-b017-7a049f281197" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
	</mule>
